{% extends 'base.html.twig' %}

{% block body %}


      <div class="container">

         <h1 class="center" >Create your Startup </h1>


              {{ form_row(f.name) }}


                 <label>Invite your team by Emails</label>
                   <div class="chips chips-placeholder">

                   </div>


          {{ form_row(f.categories) }}

            {{ form_row(f.Create) }}

       </div>






{% endblock %}